.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.idea

dist
node_modules

packages/console/docker/pdf/*
!packages/console/docker/pdf/.gitkeep

packages/console/docker/videos/*
!packages/console/docker/videos/.gitkeep
