{
  "*.{ts,mjs}": [
    "yarn workspace @storyscribe-ai/console prettier",
    "yarn workspace @storyscribe-ai/console lint"
  ],
  "*.{html,scss,css,json}": [
    "yarn workspace @storyscribe-ai/console prettier"
  ],
}
